<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- The SDK needs INTERNET for sending analytics events -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Used to check network state before attempting sync -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
